.carousel-container {
  overflow: visible !important;
  padding: 20px;
  height: auto !important;
  margin-bottom: 80px;
}
.carousel-container .swiper-wrapper {
  height: auto !important;
  align-items: flex-start !important;
}

.carousel-container .swiper-button-next,
.carousel-container .swiper-button-prev {
  opacity: 0;
}

.carousel-container:hover .swiper-button-next,
.carousel-container:hover .swiper-button-prev {
  opacity: 1;
  color: white;
  height: 30px;
}

/* 모바일에서 화살표 숨기기  */
@media (max-width: 768px) {
  .carousel-container .swiper-button-next,
  .carousel-container .swiper-button-prev {
    display: none !important;
  }
  .carousel-container {
    padding: 10px !important;
  }
}
